node_modules/
**/node_modules/
.env
**/.env
.npmrc
content/*.log
backend/content/*.log
backend/content/*.txt
backend/content/*.mp4
backend/content/*.pdf
backend/content/*.encrypted
backend/.env
admin-panel/.env
mobile-app/.env
AuthorAppMobile/android/app/build/
AuthorAppMobile/ios/Pods/
AuthorAppMobile/.gradle/
AuthorAppMobile/.idea/
AuthorAppMobile/*.iml
**/dev.log
.DS_Store
